@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin spaceBetweenCenter {
  justify-content: space-between;
  align-items: center;
}

@mixin spaceBetweenBaseline {
  justify-content: space-between;
  align-items: baseline;
}

@mixin centerBaseline {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
