@import "../helpers/variables";

button {
  color: white;
  font-size: $sm;
  cursor: pointer;
  transition: 0.5s;
  border-radius: $radius;
  background-color: $secondary;
}

button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(245, 154, 35, 0.4);
}

.button-secondary {
  font-size: $sm;
  color: $primary;
  cursor: pointer;
  transition: 0.5s;
  border-radius: $radius;
  background-color: $light-grey;
}

.button-secondary:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(201, 200, 200, 0.5);
}
