@import "../base/manifest", "../helpers/manifest";

.logo-container {
  @include flexRow();
  @include flexCenter();

  .logo-text {
    margin: 0;
    font-size: $md;
    color: $primary;
    font-weight: bolder;
    @include mq(md) {
      margin: 18px 0;
    }
    span {
      color: $secondary;
    }
  }
  .logo-img {
    height: 2em;
    margin-left: 0.6em;
    object-fit: contain;
  }
  .logo-text-sm {
    font-size: $sm;
    color: $primary;
    font-weight: bolder;
  }
  .logo-img-sm {
    height: 1.5em;
    margin-left: 0.6em;
    object-fit: contain;
  }
}
