@import "../base/manifest", "../helpers/manifest";

.nav-container {
  // position: absolute;
  // top: 0;
  @include flexRow();
  @include flexCenter();
  width: 100%;
  background-color: $nav-grey;
  padding: 1em 0;
  @include mq(md) {
    padding: 0.4em 0;
  }
}

.container {
  display: block;
  width: 100%;
  @include mq(md) {
    @include flexRow();
    @include flexCenter();
    justify-content: space-between;
    width: 80%;
  }
}

.search-container {
  @include flexRow();
  @include flexCenter();
  border: 1.5px solid $light-grey;
  border-radius: $radius;
  width: 80%;
  height: 2em;
  margin: 0.5em auto;
  color: black;
  .input-search {
    font-size: $sm;
    font-weight: 400;
    width: 50px;
  }
  ::placeholder {
    color: $grey;
  }
  .search-icon {
    color: $grey;
    margin-right: 0.5em;
  }
  .search-icon::before {
    font-size: 0.9em;
  }
  @include mq(md) {
    width: 230px;
    margin: 0 10px;
  }
}

.utils-container {
  @include flexRow();
  @include spaceBetweenCenter();
  width: 80%;
  margin: 0 auto;
  @include mq(md) {
    width: 230px;
    margin: 0;
  }
  .icon-container {
    border-radius: 50%;
    width: $xl;
    height: $xl;
    @include flexCenter();
    cursor: pointer;
  }
  .bell-icon::before {
    height: 1.2em;
    margin: 0;
  }
  .upload-btn {
    padding: 5px 28px;
  }
  .avatar {
    @include flexCenter;
    border-radius: 50%;
    width: $xl;
    height: $xl;
    background-color: $light-grey;
    color: $primary;
    font-size: $sm;
    font-weight: 600;
    .user-initials {
      color: $primary;
    }
  }
}

.icon-container:hover {
  transition: 0.5s;
  background-color: $light-grey;
}
