@import "../base/manifest", "../helpers/manifest";

.nav-container {
  width: 100%;
  padding: 1em 0;
  @include flexRow();
  @include flexCenter();
  background-color: $nav-grey;
  @include mq(md) {
    padding: 0.4em 0;
  }
}

.container {
  width: 100%;
  display: block;
  @include mq(md) {
    width: 80%;
    @include flexRow();
    @include flexCenter();
    justify-content: space-between;
  }
}

.search-container {
  width: 80%;
  height: 2em;
  color: black;
  margin: 0.5em auto;
  @include flexRow();
  @include flexCenter();
  border-radius: $radius;
  border: 1.5px solid $light-grey;
  .input-search {
    width: 50px;
    font-size: $sm;
    font-weight: 400;
  }
  .input-search:focus {
    border: none;
  }
  ::placeholder {
    color: $grey;
  }
  .search-icon {
    color: $grey;
    margin-right: 0.5em;
  }
  .search-icon::before {
    margin: 0;
    font-size: 0.9em;
  }
  @include mq(md) {
    width: 230px;
    margin: 0 10px;
  }
}

.utils-container {
  width: 80%;
  margin: 0 auto;
  @include flexRow();
  @include spaceBetweenCenter();
  @include mq(md) {
    margin: 0;
    width: 230px;
  }
  .icon-container {
    width: $xl;
    height: $xl;
    cursor: pointer;
    border-radius: 50%;
    @include flexCenter();
  }
  .bell-icon::before {
    margin: 0;
    height: 1.2em;
  }
  .upload-btn {
    padding: 5px 28px;
  }
  .avatar {
    @include flexCenter;
    width: $xl;
    height: $xl;
    font-size: $sm;
    color: $primary;
    cursor: pointer;
    transition: 0.6s;
    font-weight: 600;
    border-radius: 50%;
    background-color: $light-grey;
    .user-initials {
      color: $primary;
    }
  }
  .avatar:hover {
    .user-initials {
      color: white;
    }
  }
}

.icon-container:hover {
  transition: 0.5s;
  background-color: $light-grey;
}
