@import "../base/manifest", "../helpers/manifest";

#upload-view {
  visibility: hidden;
}

.form-container {
  top: 46%;
  width: auto;
  display: flex;
  margin: 2em 0;
  padding: 1em 3em;
  flex-direction: column;
  border-radius: $radius;
  justify-content: center;
  align-items: flex-start;
  @include absoluteCenter();
  background-color: white;
  @include mq(md) {
    margin: 0;
    width: 500px;
    padding: 3em 5em;
    @include absoluteCenter();
  }
  .form-title {
    margin-top: 0;
    font-size: $lg;
    color: $primary;
    @include mq(md) {
      font-size: $xl;
    }
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.upload-preview {
  --size: 50px;
  margin-left: 0.5em;
  width: var(--size);
  height: var(--size);
  border: 1px solid $grey;
  img {
    object-fit: cover;
    width: var(--size);
    height: var(--size);
  }
}

.upload-container {
  width: 108%;
  @include flexRow();
  @include spaceBetweenCenter();
  @include mq(md) {
    width: 107%;
  }
}

.choose-btn {
  width: 190px;
  height: 30px;
}

.row {
  text-align: left;
  margin-bottom: 0.4em;
  flex-direction: column;
  @include spaceBetweenBaseline();
  @include mq(md) {
    @include flexRow();
    margin-bottom: 1em;
  }
  label,
  input {
    width: auto;
    @include mq(md) {
      width: 300px;
    }
  }
  textarea {
    height: 100px;
  }
}

.description-text::after {
  content: "(Optional)";
  display: block;
  font-size: $sm;
}

.submit-btn {
  height: 40px;
}

.flaticon-close::before {
  margin: 0;
}

.black::before {
  margin: 0;
  font-size: 20px;
  color: $primary;
}

.upload-position {
  top: 20px;
  right: 16px;
  position: absolute;
  @include mq(md) {
    top: 34px;
    right: 40px;
  }
}
