@import "./typography";
* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

ul {
  text-decoration: none;
  list-style: none;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

input {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-style: none;
}
