@import "../base/manifest", "../helpers/manifest";

.footer-nav {
  @include flexRow();
  @include flexCenter();

  ul {
    width: 100%;
    // margin: 0;
    @include flexRow();
    flex-wrap: wrap;
    @include centerBaseline();
    @include mq(xl) {
      width: 40%;
    }
  }
  li {
    color: $primary;
    @include flexCenter();
    @include centerBaseline();
    a {
      color: $primary;
    }
    a:hover {
      color: $secondary;
    }
  }
  .bullet-point::after {
    content: "•";
    padding: 0 2.5em;
  }
}

.footer-copyright {
  margin: 0;
  @include flexRow();
  @include flexCenter();
  .copyright-text {
    font-size: $sm;
    color: $grey;
    font-weight: normal;
    margin-left: 1em;
  }
}
