@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

input {
  margin: 0;
  padding: 0;
  border-style: none;
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  color: white;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  background-color: #f2994a;
}

button:hover {
  color: white;
  -webkit-box-shadow: 0 5px 15px rgba(245, 154, 35, 0.4);
          box-shadow: 0 5px 15px rgba(245, 154, 35, 0.4);
}

.button-secondary {
  font-size: 14px;
  color: #3d3d3d;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  background-color: #c4c4c4;
}

.button-secondary:hover {
  color: white;
  -webkit-box-shadow: 0 5px 15px rgba(201, 200, 200, 0.5);
          box-shadow: 0 5px 15px rgba(201, 200, 200, 0.5);
}

* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

input {
  margin: 0;
  padding: 0;
  border-style: none;
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-container .logo-text {
  margin: 0;
  font-size: 18px;
  color: #3d3d3d;
  font-weight: bolder;
}

@media (min-width: 768px) {
  .logo-container .logo-text {
    margin: 18px 0;
  }
}

.logo-container .logo-text span {
  color: #f2994a;
}

.logo-container .logo-img {
  height: 2em;
  margin-left: 0.6em;
  -o-object-fit: contain;
     object-fit: contain;
}

.logo-container .logo-text-sm {
  font-size: 14px;
  color: #3d3d3d;
  font-weight: bolder;
}

.logo-container .logo-img-sm {
  height: 1.5em;
  margin-left: 0.6em;
  -o-object-fit: contain;
     object-fit: contain;
}

* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

input {
  margin: 0;
  padding: 0;
  border-style: none;
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.nav-container {
  width: 100%;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f7f7f7;
}

@media (min-width: 768px) {
  .nav-container {
    padding: 0.4em 0;
  }
}

.container {
  width: 100%;
  display: block;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.search-container {
  width: 80%;
  height: 2em;
  color: black;
  margin: 0.5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  border: 1.5px solid #c4c4c4;
}

.search-container .input-search {
  width: 50px;
  font-size: 14px;
  font-weight: 400;
}

.search-container .input-search:focus {
  border: none;
}

.search-container ::-webkit-input-placeholder {
  color: #a8a8a8;
}

.search-container :-ms-input-placeholder {
  color: #a8a8a8;
}

.search-container ::-ms-input-placeholder {
  color: #a8a8a8;
}

.search-container ::placeholder {
  color: #a8a8a8;
}

.search-container .search-icon {
  color: #a8a8a8;
  margin-right: 0.5em;
}

.search-container .search-icon::before {
  margin: 0;
  font-size: 0.9em;
}

@media (min-width: 768px) {
  .search-container {
    width: 230px;
    margin: 0 10px;
  }
}

.utils-container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .utils-container {
    margin: 0;
    width: 230px;
  }
}

.utils-container .icon-container {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.utils-container .bell-icon::before {
  margin: 0;
  height: 1.2em;
}

.utils-container .upload-btn {
  padding: 5px 28px;
}

.utils-container .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: #3d3d3d;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-weight: 600;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.utils-container .avatar .user-initials {
  color: #3d3d3d;
}

.utils-container .avatar:hover .user-initials {
  color: white;
}

.icon-container:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #c4c4c4;
}

* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

input {
  margin: 0;
  padding: 0;
  border-style: none;
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#detail-view {
  visibility: hidden;
}

.popup {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-container {
  width: 30%;
  min-width: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 425px) {
  .main-container {
    min-width: 330px;
  }
}

.card {
  width: 100%;
  font-size: 12px;
  padding: 0.7em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
}

@media (min-width: 1200px) {
  .card {
    font-size: 14px;
  }
}

.card p {
  color: #3d3d3d;
  text-align: left;
  font-weight: normal;
}

.current-img {
  height: 330px;
}

@media (min-width: 992px) {
  .current-img {
    height: 350px;
  }
}

@media (min-width: 1200px) {
  .current-img {
    height: 390px;
  }
}

.current-img .card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-text {
  width: 60%;
  position: relative;
  padding: 0.5em 1.3em;
}

.card-text .title {
  margin: 0;
  font-weight: 700;
}

.card-text .description {
  width: 180px;
  margin-top: 0.5em;
  padding-right: 0.5em;
  border-right: 1px solid #a8a8a8;
}

@media (min-width: 425px) {
  .card-text .description {
    width: 195px;
  }
}

@media (min-width: 1200px) {
  .card-text .description {
    width: 100%;
  }
}

.card-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.card-stats img {
  height: 1.8em;
  margin-right: 1em;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-stats .stat-text {
  margin: 0;
}

.close-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.close-btn .close-icon::before {
  margin: 0;
  color: white;
  font-size: 20px;
}

.position-in-detail {
  right: -30px;
  position: absolute;
}

* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

input {
  margin: 0;
  padding: 0;
  border-style: none;
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.custom-input,
textarea {
  height: 2em;
  color: black;
  padding: 4px 9px;
  margin: 0.5em auto;
  border-radius: 5px;
  width: 100% !important;
  border: 1.5px solid #c4c4c4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom-input ::-webkit-input-placeholder,
textarea ::-webkit-input-placeholder {
  color: #c4c4c4;
}

.custom-input :-ms-input-placeholder,
textarea :-ms-input-placeholder {
  color: #c4c4c4;
}

.custom-input ::-ms-input-placeholder,
textarea ::-ms-input-placeholder {
  color: #c4c4c4;
}

.custom-input ::placeholder,
textarea ::placeholder {
  color: #c4c4c4;
}

@media (min-width: 768px) {
  .custom-input,
  textarea {
    width: 100% !important;
  }
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  border: 1.5px solid #f2994a;
}

* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

input {
  margin: 0;
  padding: 0;
  border-style: none;
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#upload-view {
  visibility: hidden;
}

.form-container {
  top: 46%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0;
  padding: 1em 3em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
}

@media (min-width: 768px) {
  .form-container {
    margin: 0;
    width: 500px;
    padding: 3em 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.form-container .form-title {
  margin-top: 0;
  font-size: 22px;
  color: #3d3d3d;
}

@media (min-width: 768px) {
  .form-container .form-title {
    font-size: 30px;
  }
}

.form-container form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upload-preview {
  --size: 50px;
  margin-left: 0.5em;
  width: var(--size);
  height: var(--size);
  border: 1px solid #a8a8a8;
}

.upload-preview img {
  -o-object-fit: cover;
     object-fit: cover;
  width: var(--size);
  height: var(--size);
}

.upload-container {
  width: 108%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .upload-container {
    width: 107%;
  }
}

.choose-btn {
  width: 190px;
  height: 30px;
}

.row {
  text-align: left;
  margin-bottom: 0.4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 1em;
  }
}

.row label,
.row input {
  width: auto;
}

@media (min-width: 768px) {
  .row label,
  .row input {
    width: 300px;
  }
}

.row textarea {
  height: 100px;
}

.description-text::after {
  content: "(Optional)";
  display: block;
  font-size: 14px;
}

.submit-btn {
  height: 40px;
}

.flaticon-close::before {
  margin: 0;
}

.black::before {
  margin: 0;
  font-size: 20px;
  color: #3d3d3d;
}

.upload-position {
  top: 20px;
  right: 16px;
  position: absolute;
}

@media (min-width: 768px) {
  .upload-position {
    top: 34px;
    right: 40px;
  }
}

* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

input {
  margin: 0;
  padding: 0;
  border-style: none;
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#delete-view {
  visibility: hidden;
}

.delete-container {
  padding: 2em 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.delete-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.delete-container p {
  margin-top: 0;
  font-size: 14px;
  color: #3d3d3d;
}

@media (min-width: 768px) {
  .delete-container p {
    font-size: 18px;
  }
}

.delete-container .button-size {
  width: 100px;
  padding: 6px 9px;
  margin: 1em 0.5em;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 0.4s ease-in 1 forwards;
          animation: fadeIn 0.4s ease-in 1 forwards;
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.fade-out {
  opacity: 1;
  -webkit-animation: fadeOut 0.4s ease-out 1 forwards;
          animation: fadeOut 0.4s ease-out 1 forwards;
}

* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

input {
  margin: 0;
  padding: 0;
  border-style: none;
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nav ul {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .footer-nav ul {
    width: 40%;
  }
}

.footer-nav li {
  color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  justify-content: center;
}

.footer-nav li a {
  color: #3d3d3d;
}

.footer-nav li a:hover {
  color: #f2994a;
}

.footer-nav .bullet-point::after {
  content: "•";
  padding: 0 2.5em;
}

.footer-copyright {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-copyright .copyright-text {
  color: #a8a8a8;
  font-size: 14px;
  margin-left: 1em;
  font-weight: normal;
}

* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

input {
  margin: 0;
  padding: 0;
  border-style: none;
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.gallary-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.gallary-body p {
  color: #a8a8a8;
  font-weight: 700;
  text-align: center;
}

.gallary-container {
  width: 80%;
  margin-bottom: 1em;
  border-bottom: 1.5px solid #c4c4c4;
}

.gallary-container h1 {
  color: #3d3d3d;
}

.gallary-container .image-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  margin-bottom: 1em;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media (min-width: 992px) {
  .gallary-container .image-grid {
    -ms-grid-columns: (minmax(250px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

.img-container {
  height: auto;
  position: relative;
}

.img-container span::before {
  opacity: 0;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .img-container {
    height: 372px;
  }
}

.img-container:hover span::before {
  opacity: 1;
}

.gallary-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

.loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-container .loader-btn {
  cursor: pointer;
  padding: 0 0.6em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-container .loader-btn:hover p {
  color: #3d3d3d;
}

.loader-container .loader-btn:hover .plus-icon::before {
  color: #3d3d3d;
}

.loader-container .plus-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-container .plus-icon::before {
  margin: 0;
  color: #a8a8a8;
  font-size: 0.6em;
  margin-right: 0.5em;
}

.select-showing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1.2em;
}

.select-showing .custom-select {
  position: relative;
}

.select-showing select {
  padding: 3px 6px;
  border-radius: 5px;
  border: 1px solid #a8a8a8;
}

.select-showing .custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 100%;
  pointer-events: none;
}

.select-showing .custom-arrow::before,
.select-showing .custom-arrow::after {
  --size: 0.4em;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-65%, -50%);
          transform: translate(-65%, -50%);
}

.select-showing .custom-arrow::before {
  border-top: var(--size) solid black;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
}

.select-showing p {
  font-size: 14px;
  font-weight: normal;
  margin-right: 0.5em;
}

/*
    Flaticon icon font: Flaticon
    Creation date: 25/07/2020 03:15
    */
@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff2") format("woff2"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-close:before {
  content: "\f100";
}

.flaticon-plus:before {
  content: "\f101";
}

.flaticon-search:before {
  content: "\f102";
}

.flaticon-bell:before {
  content: "\f103";
}
/*# sourceMappingURL=main.css.map */